---

- name: Create main directory
  ansible.builtin.file:
    path: "{{ jenkins_data_dir }}"
    state: directory
    mode: "0755"
  tags:
    - jenkins
    - nginx

- name: Create Nginx directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - "{{ jenkins_data_dir }}/nginx"
    - "{{ jenkins_data_dir }}/nginx/conf.d"
    - "{{ jenkins_data_dir }}/nginx/certs"
    - "{{ jenkins_data_dir }}/nginx/www"
  tags:
    - nginx

- name: Create Jenkins directories
  ansible.builtin.file:
    path: "{{ jenkins_data_dir }}/jenkins_home"
    state: directory
    owner: "1000"
    group: "1000"
    mode: "0755"
  tags:
    - jenkins

- name: Install Certbot
  ansible.builtin.apt:
    name:
      - certbot
    state: present
  tags:
    - nginx
    - cert-renewal

- name: Check Nginx
  ansible.builtin.uri:
    url: http://127.0.0.1/health
    return_content: false
    status_code: [200]
    timeout: 5
  register: jenkins_nginx_check
  ignore_errors: true
  changed_when: false
  tags:
    - nginx
    - cert-renewal

- name: Get certificates from Let's Encrypt webroot
  ansible.builtin.shell: |
    certbot certonly --webroot -w {{ jenkins_data_dir }}/nginx/www -d {{ jenkins_nginx_domain }} \
    --non-interactive --agree-tos -m {{ jenkins_certbot_admin_email }} \
    --keep-until-expiring {{ '--force-renewal' if jenkins_certbot_force_renewal else '' }}
  register: jenkins_certbot_output
  changed_when: ('Successfully received certificate' in jenkins_certbot_output.stdout)
  when: jenkins_nginx_check.status == 200
  retries: 3
  delay: 5
  tags:
    - nginx
    - cert-renewal

- name: Get certificates from Let's Encrypt standalone
  ansible.builtin.shell: |
    certbot certonly --standalone -d {{ jenkins_nginx_domain }} \
    --non-interactive --agree-tos -m {{ jenkins_certbot_admin_email }} \
    --keep-until-expiring {{ '--force-renewal' if jenkins_certbot_force_renewal else '' }}
  register: jenkins_certbot_output
  changed_when: ('Successfully received certificate' in jenkins_certbot_output.stdout)
  when: jenkins_nginx_check.status != 200
  retries: 3
  delay: 5
  tags:
    - nginx
    - cert-renewal

- name: Copy certificates
  ansible.builtin.copy:
    src: "/etc/letsencrypt/live/{{ jenkins_nginx_domain }}/{{ item }}"
    dest: "{{ jenkins_data_dir }}/nginx/certs/{{ item }}"
    remote_src: true
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0644"
  loop:
    - fullchain.pem
    - privkey.pem
  notify: Restart services
  tags:
    - nginx

- name: Copy Nginx config
  ansible.builtin.template:
    src: nginx/nginx.conf.j2
    dest: "{{ jenkins_data_dir }}/nginx/conf.d/nginx.conf"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0644"
  notify: Restart services
  tags:
    - nginx

- name: Copy Docker file
  ansible.builtin.template:
    src: "docker/docker-compose.yml.j2"
    dest: "{{ jenkins_data_dir }}/docker-compose.yml"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0644"
  notify: Restart services
  tags:
    - jenkins
    - nginx

- name: Start services
  ansible.builtin.command:
    cmd: docker compose up -d
    chdir: "{{ jenkins_data_dir }}"
  changed_when: false
  tags:
    - jenkins
    - nginx
